@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter), sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;

  --font-sans:
    var(--font-inter), sans-serif; /* Makes font-sans use your inter font */
  --font-serif: var(--font-poppins), serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; /* Match your header height */
}
